* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Positionierung der Card in der Mitte des Browsers*/
.card {
  /* Card absolut Positionieren */
  position: absolute;
  /* 50% der Höhe Browserfensters nach unten schieben */
  top: 50%;
  /* 50% der Breite des Browserfensters nach links schieben */
  left: 50%;
  /* top und left positioniert linke obere Ecke der Card genau
     in Mitte des Browserfensters. Damit die Mitte der Card im
     Zentrum des Browsers liegt, muss die Card 50% von seiner
     Breite nach rechts und 50% von seiner Höhe nach oben 
     zurückgeschoben werden. */
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #b0cae7;
  border-radius: 10px;
}

/* Positionieren des Icons vorbereiten */
.card .card-header {
  /* Nötig für Positionierung im Bezug auf Header*/
  position: relative;
  color: #434a54;
}

.card .card-header h3 {
  line-height: 60px;
  padding-left: 20px;
}

/* Positionieren des Icons */
.card .card-header img {
  /* Icon absolut positionieren  */
  position: absolute;
  /* oben 15px von Header Rand entfernt */
  top: 15px;
  /* oben 15px von Header Rand entfernt */
  right: 20px;
  height: 30px;
}

.card .card-image {
  height: 150px;
  overflow: hidden;
}

/* Positionierung von Bild */
.card .card-image img {
  /* Bild relativ positionieren */
  position: relative;
  /* 40px nach oben schieben */
  bottom: 40px;
  width: 400px;
}

.card .card-main {
  padding: 20px 20px 0 20px;
  color: #434a54;
}

/* Positionierung von Typ Info und Detail Button
   vorbereiten */
.card .card-footer {
  /* Nötig für Positionierung im Bezug auf Header*/
  position: relative;
  height: 40px;
  padding: 20px;
}

/* Positionionierung von Detail Button*/
.card .card-footer button {
  /* Button absolut positionieren */
  position: absolute;
  /* 20px vom rechten Rand von Footer */
  right: 20px;
  /* 20px vom oberen Rand von Footer */
  top: 20px;
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ed5564;
  color: #e6e9ed;
  cursor: pointer;
}

/* Positionionierung der Typ Info */
.card .card-footer .type {
  /* Info absolut positionieren */
  position: absolute;
  /* 20px von linkem Rand von Footer */
  left: 20px;
  /* 50% von Footer Höhe nach unten schieben */
  top: 50%;
  /* top positioniert linke obere Ecke der Info genau
     in Mitte des Footers. Damit die Mitte der Info im
     Zentrum des Footers liegt, muss die Card 50% von
     seiner Höhe nach oben zurückgeschoben werden. */
  transform: translateY(-50%);
  height: 20px;
  border: 2px solid #434a54;
  border-radius: 30px;
  padding: 5px;
  color: #434a54;
}
